<form (ngSubmit)="submit()" class="user-form">

  <input
          type="text"
          placeholder="Name"
          [ngModel]="name()"
          (ngModelChange)="name.set($event)"
          name="name"
          required
  />

  <input
          type="email"
          placeholder="Email"
          [ngModel]="email()"
          (ngModelChange)="email.set($event)"
          name="email"
          required
  />

  <label>
    <input
            type="checkbox"
            [ngModel]="active()"
            (ngModelChange)="active.set($event)"
            name="active"
    />
    Active
  </label>

  <input
          type="text"
          placeholder="Role (Admin, Analyst, Manager)"
          [ngModel]="role()"
          (ngModelChange)="role.set($event)"
          name="role"
          required
  />

  <input
          type="text"
          placeholder="Department (Engineering, Finance, Ops)"
          [ngModel]="department()"
          (ngModelChange)="department.set($event)"
          name="department"
          required
  />

  <input
          type="date"
          [ngModel]="lastLoginDate()"
          (ngModelChange)="lastLoginDate.set($event)"
          name="lastLoginDate"
  />

  <select
          [ngModel]="riskLevel()"
          (ngModelChange)="riskLevel.set($event)"
          name="riskLevel"
  >
    <option value="LOW">LOW</option>
    <option value="MEDIUM">MEDIUM</option>
    <option value="HIGH">HIGH</option>
  </select>

  <button type="submit">
    {{ selectedUser ? 'Update' : 'Create' }}
  </button>

  @if (selectedUser) {
  <button type="button" (click)="cancel()">Cancel</button>
  }

</form>